* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.body {
  overflow-x: hidden;

  --ff: "B612 Mono", monospace;

  --color-primary: #eae1d4;
  --color-secondary: #7b736e;
  --color-tertiary: #393533;
  --color-logo: #424242;
  --color-welcome: #7b736e;
  --color-welcome-text: #eae1d4;

  background-color: var(--color-primary);
  color: var(--color-tertiary);
  font-family: var(--ff);
  line-height: 1;
}

.dark.body {
  --color-primary: #151414;
  --color-secondary: #413d3a;
  --color-tertiary: #c7c1b8;
  --color-welcome: #151414;
  --color-welcome-text: #eae1d4;
}

.section-container {
  display: flex;
  gap: 5rem;
  align-items: center;
  height: 80vh;

  padding: 5rem 10rem;
}

.section_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Yeseva One", cursive;
  letter-spacing: 10px;
  transform: rotate(270deg);
  font-size: 8rem;
}

.title-container {
  width: 20%;
}

.content-container {
  width: 80%;
}
